
@{
    ViewData["Title"] = "AddToCart";
}

<h1>AddToCart</h1>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <hr />

    <input type="hidden" name="txtFId" value="@ViewBag.FId" />
@*    <div class="form-group">
        <div class="col-md-offset-0 col-md-10">
            數量
        </div>
        <div class="col-md-10">
            @Html.TextBox("txtCount", "1", new { htmlAttributes = new { @class = "form-control" } })

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-0 col-md-10">
            <input type="submit" value="購買" class="btn btn-default" />
        </div>
    </div>



    <div>
        @Html.ActionLink("取消", "ProductList")
    </div>*@
}
@model CreamMUProduct.Models.TProduct
@{
    ViewData["Title"] = "AddToCart";
}

<h1 class="">ProductDetail</h1>

@*商品選單跳轉連結*@
<div class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container-fluid">
        <div class="block-inner">    
            <a class="Label text-dark" href="@Url.Action("ProductList", "Product", null)">全部商品</a>/ 
            <a class="Label text-dark" href="@Url.Action("ProductList", "Product", null)">成品選購</a>            
        </div>
    </div>
</div>
@using (Html.BeginForm())
{//商品細節頁面
    <div class="row-cols-md-4 ">
        <input type="hidden" name="ProductId" value="@Model.ProductId" />
        
        <div style="float: left; margin-left: 100px;">
            <h3><img class="PImages" src="~/images/@Model.PImages" alt="商品圖片" width="400" height="400" /></h3>
        </div>
        
        <div style="float: left; margin-left: 350px;">
            <h2>@Model.PName</h2>
            <div  style="width: 120%;">
            <h>商品特色:<br>@Model.PDescript,orem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</h>
             <hr>
         </div>
           
            <h3>NT$@Model.PPrice</h3>         
            <h4 style="display: inline-block;">數量</h4>
            <div class="input-group">
@*產品數量增減按鈕*@
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary" type="button" onclick="decreaseQuantity()">-</button>
  </div>

  @*<input type="text" id="quantityInput" class="form-control text-center" value="1">*@
  @Html.TextBox("txtCount", "1", new { @class = "form-control text-center", id = "quantityInput" })

  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" onclick="increaseQuantity()">+</button>
  </div>
</div>


  <div class="col-md-12">
    <div class="d-grid">
      <input type="submit" value="加入購物車" class="btn btn-secondary" />
    </div>
  </div>
</div>
 </div>

 
 
 //產品數量增減按鈕功能
 //減
<script>
  function decreaseQuantity() {
    var quantityInput = document.getElementById('quantityInput');
    if (quantityInput.value > 1) {
      quantityInput.value = parseInt(quantityInput.value) - 1;
    }
  }
  @*加*@
  function increaseQuantity() {
    var quantityInput = document.getElementById('quantityInput');
    quantityInput.value = parseInt(quantityInput.value) + 1;
  }
</script>
        
   
}